// 這邊是自訂的東西可以用
$MetaWall_white: white;
$MataWall_gray01: #EFECE7;
$MataWall_gray02: #E0E0E0;
$MataWall_gray03: #9B9893;
$MataWall_gray04: #707070;
$MataWall_black: #000400;
$MetaWall_lightBlue:#E2EDFA;
$MataWall_blue: #03438D;
$MataWall_yellow: #EEC32A;
$MataWall_red: #DC3545;

body {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: $MataWall_black;
  }

  a {
    color: inherit; /* 重置文字顏色為父元素的顏色 */
    text-decoration: none; /* 移除文字下劃線 */
    cursor: pointer; /* 將光標設置為手型 */
    }
  
.btn.MetaWall_button{
    background-color: $MataWall_blue;
    border: solid 2px $MataWall_black;
    color: $MetaWall_white;
    transition: scale 0.1s ease-in-out;
    &:hover{
      background-color: $MataWall_yellow;
      color: $MataWall_black;
    }
}
.btn.MetaWall_button_yellow{
    background-color: $MataWall_yellow;
    border: solid 2px $MataWall_black;
    color: $MataWall_black;
    transition: scale 0.1s ease-in-out;
}
.btnShdow{
    box-shadow: -2px 2px $MataWall_black;
}

.title{
    h1,h2,h3,h4,h5,h6{
        margin: 0;
    }
    height: 80px;
    border: solid 2px $MataWall_black;
    background-color: $MetaWall_white;
    &::before{
      content: ' ';
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 8px;
      left: -8px;
      border: solid 2px $MataWall_black;
      background-color: $MetaWall_white;
    }
}

.routerLink{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    margin: 0.5rem 0;
    transition: color 0.1s ease-in-out;
    color: $MataWall_black;
    &:hover{
        color: $MataWall_blue;
    }
}

.MetaWall_input{
    width: 100%;
    border: $MataWall_black solid 3px;
    padding: 0.3rem 1rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #000400;
    opacity: 1;
}