// 這邊是自訂的東西可以用
$MetaWall_white: white;
$MataWall_gray01: #EFECE7;
$MataWall_gray02: #E0E0E0;
$MataWall_gray03: #9B9893;
$MataWall_gray04: #707070;
$MataWall_black: #000400;
$MataWall_blue: #03438D;

body {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: $MataWall_black;
  }
  
.btn.MetaWall_button{
    width: 100%;
    background-color: $MataWall_blue;
    border: solid 2px $MataWall_black;
    color: $MetaWall_white;
    box-shadow: -2px 2px $MataWall_black;
    transition: scale 0.1s ease-in-out;
    &:hover{
      scale: 1.03;
    }
    &:active{
        scale: 0.98;
    }
}

.routerLink{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    margin: 0.5rem 0;
    transition: color 0.1s ease-in-out;
    color: $MataWall_black;
    &:hover{
        color: $MataWall_blue;
    }
}

.MetaWall_input{
    width: 100%;
    border: $MataWall_black solid 3px;
    padding: 0.3rem 1rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #000400;
    opacity: 1;
}